




<!-- This .html file is temporary file to test if uploading is working well.
     This file will be removed and substituted after testing. -->

<!-- This template has three parts:
    1. An optional message at the top where Spring MVC writes a flash-scoped messages.
    2. A form allowing the user to upload files
    3. A list of files supplied from the backend-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

</body>
</html>